header {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 50px;
  padding: 20px 10px;
}

header img {
  position: left;
  margin-top: 1rem;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.15));
  width: 5rem;
  height: 5rem;
}

div#logo {
  padding-right: 30px;
}

header.continente {
  float: right;
  padding-left: 2rem;
  padding-left: 2rem;
}
